.calculator {
  width: 320px;
  margin: 40px auto;
  border: 2px solid #888;
  border-radius: 8px;
  padding: 10px;
  background-color: #f2f2f2;
}

.display {
  background-color: #222;
  color: #fff;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.expression-display {
  font-size: 0.9rem;
  color: gray;
}

.main-result {
  font-size: 2em;
}


.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  background-color: #444;
  color: #fff;
  font-size: 1.2em;
  padding: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

button:hover {
  background-color: #666;
}

/* Make the 0 button span two columns for a nice layout */
#zero {
  grid-column: span 2;
}
